{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}


<section class="p-5 grid-cols-1 lg:grid-cols-3" >
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                   Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Prix
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantité
                </th>
                <th scope="col" class="px-6 py-3">
                    Total
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
       {% for item in data %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">
                    {{item.product.name}}
                </td>

                             
                <td class="px-6 py-4">
                    {{item.product.price}}
                </td>

                <td class="px-6 py-4">
                    {{item.quantity}}
                </td>

                <td class="px-6 py-4">
                    {{item.product.price * item.quantity}} €
                </td>
   
                
                <td class="px-6 py-4">
                    <a href="{{path('app_panier_add', {id:item.product.id})}}" style="width: 50px; background: #28d158ff; border: 2px solid #3ed230ff; margin-left: 50px; font-weight: bold; font-size: 20px;" >+</a>                
                    
                    <a href="{{path('app_panier_supp', {id:item.product.id})}}" style="width: 20px; background: #282bd1ff; border: 2px solid #382dacff; margin-left: 50px; font-weight: bold; font-size: 20px " >-</a>                
                    
                    <a href="{{path('app_panier_remove',{id:item.product.id})}}"style="width: 20px; background: #ffe7e8; border: 2px solid #e66465"  >Supprimer</a>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{total}}€</td>
                <td>
                    <a href="{{path('app_panier_trash')}}" style="margin-left: 50px;">Vider le panier</a>
                    <a href="{{path('app_stripe')}}" style="margin-left: 50px;" >Valider la commande</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</section>

{% endblock %}
