{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="p-5">

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="flex flex-col md:flex-row mb-5">
        {{ form_widget(registrationForm.email) }}
        {{ form_widget(registrationForm.pseudo) }}
    </div>
    <div class="flex flex-col md:flex-row mb-5">
        {{ form_widget(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.second) }}
    </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </section>
{% endblock %}
